html
	head
		title Blog Application
		link(rel='stylesheet', type='text/css', href='../css/css.css')
		link(href='https://fonts.googleapis.com/css?family=Pangolin', rel='stylesheet')
	body
		h2 Welcome beauty
		h3 Please choose one of the options:
		button.button(style='vertical-align:middle')
			span Log in
		br
		|  
		button.button(style='vertical-align:middle')
			span Sign up