html
	head
		title Blog Application
		include ../static/pug/head-tags
	body#backgroundindex
		include ../static/pug/header.pug
		include ../static/pug/footer.pug
		h1.index-h1 Welcome beauty
		h3.index-h3 Please choose one of the options:
		button.button(onclick="location.href='/login';",style='vertical-align:middle')
			span Log in
		br
		|  
		button.button(onclick="location.href='/signup';",style='vertical-align:middle')
			span Sign up