html
	head
		title Blog Application
		include ../static/pug/head-tags.pug

	body#background-notexist
		include ../static/pug/header.pug
		h1#notexist This user does not exist.
		include ../static/pug/footer.pug