html
	head
		title Login Page
		include ../static/pug/head-tags.pug
	body#backgroundlogin
		include ../static/pug/header.pug
		form.login(action="/signup" method="post" name="loginForm" onsubmit="return validate()")
			fieldset
			legend.legend Sign Up
			.input
				input(type='text', placeholder='Username', name="username" class='inputfield1')
				span
					i.fa.fa-envelope-o
			.input
				input(type='password', placeholder='Password', name="password" class='inputfield1')
				span
					i.fa.fa-envelope-o
			.input
				input(type='password', placeholder='Confirm Password', name="confirm_password" class='inputfield1' minlength='8')
				span
					i.fa.fa-envelope-o
			.input
				input(type='email', placeholder='Email', name="email" class='inputfield1' minlength='8')
				span
					i.fa.fa-lock
			|  
			button.submit(type='submit')
					i.fa.fa-long-arrow-right
		include ../static/pug/footer.pug

		script.
			function validate() {

				if( document.forms.loginForm.username.value == "" ) {
					alert( "Please provide your username!" );
					document.loginForm.username.focus() ;
					return false;
				}

				if( document.forms.loginForm.password.value == "") {
					alert( "Please provide a password with at least 8 characters" );
					document.loginForm.password.focus() ;
					return false;
				}

				if( document.forms.loginForm.confirm_password.value == "") {
					alert( "Please confirm your password!" );
					document.loginForm.confirm_password.focus() ;
					return false;
				}

				if( document.forms.loginForm.email.value == "" ) {
					alert( "Please provide your e-mail!" );
					document.loginForm.email.focus() ;
					return false;
				}

				return( true );
			}

			//- $('#password, #confirm_password').on('keyup', function () {
			//- if ($('#password').val() == $('#confirm_password').val()) {
			//-   $('#message').html('Matching').css('color', 'green');
			//- } else 
			//-   $('#message').html('Not Matching').css('color', 'red');
			//- });

		//- 	var password = document.getElementById("password"), confirm_password = document.getElementById("confirm_password");

		//- 	function validatePassword(){
		//- 		if(password.value != confirm_password.value) {
		//- 		confirm_password.setCustomValidity("Passwords Don't Match");
		//- 	} else {
		//- 		confirm_password.setCustomValidity('');
		//- 		}
		//- 	}

		//- //- password.onchange = validatePassword;
		//- //- confirm_password.onkeyup = validatePassword;



