html
	head
		title Login Page
		include ../static/pug/head-tags.pug
	body#backgroundlogin
		include ../static/pug/header.pug
		form.login(action="/signup" method="post")
			fieldset
			legend.legend Sign-up
			.input
				input(type='text', placeholder='Username', required='' name="username")
				span
					i.fa.fa-envelope-o
			.input
				input(type='password', placeholder='Password', required='' name="password")
				span
					i.fa.fa-envelope-o
			.input
				input(type='email', placeholder='Email', required='' name="email")
				span
					i.fa.fa-lock
			|  
			button.submit(type='submit')
					i.fa.fa-long-arrow-right
		include ../static/pug/footer.pug