div.footer
	p &copy; Lisa Maagdenberg &amp; Hajar Mokhtafa - All Rights Reserved - 2017
//- footer.flex-rw
//- 	section.footer-social-section.flex-rw
//- 		span.footer-social-overlap.footer-social-connect
//- 			| CONNECT 
//- 			span.footer-social-small with
//- 				|  US
//- 		span.footer-social-overlap.footer-social-icons-wrapper
//- 			a.generic-anchor(href='http://www.pinterest.com/hajar/', target='_blank', title='Pinterest', itemprop='significantLink')
//- 				i.fa.fa-pinterest
//- 			a.generic-anchor(href='https://www.facebook.com/hajar', target='_blank', title='Facebook', itemprop='significantLink')
//- 				i.fa.fa-facebook
//- 			a.generic-anchor(href='https://twitter.com/hajar', target='_blank', title='Twitter', itemprop='significantLink')
//- 				i.fa.fa-twitter
//- 			a.generic-anchor(href='http://instagram.com/hajar', target='_blank', title='Instagram', itemprop='significantLink')
//- 				i.fa.fa-instagram
//- 			a.generic-anchor(href='https://www.youtube.com/channel/hajar', target='_blank', title='Youtube', itemprop='significantLink')
//- 				i.fa.fa-youtube
//- 			a.generic-anchor(href='https://plus.google.com/hajar', target='_blank', title='Google Plus', itemprop='significantLink')
//- 				i.fa.fa-google-plus
//- 	section.footer-bottom-section.flex-rw
//- 		.footer-bottom-wrapper
//- 			i.fa.fa-copyright(role='copyright')
//- 			|  2017 Lisa Maagdenberg &amp; Hajar Mokhtafa - All Rights Reserved -
